body{
width: 100%;
margin: 0;
padding: 0;
font-family: "MuseoSans",sans-serif;
font-size: 14px;
color: #0b0b0b;
min-width: 320px;
background-color: #fcfcfc;
overflow: visible;
overflow-x: hidden !important;
}
.print{
    padding-top: 55px;
    padding-left: 20px;
    padding-bottom: 45px;
}
@media (max-width: 960px){
.print {
    padding-left: 0;
    padding-right: 20px;
}}
@media (max-width: 479px){
.print {
    padding-top: 0;
    padding-bottom: 10px;
}}
.tittle1 {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 3px 0 white;
    margin-top: 0;
    margin-bottom: 0.85em;
}
@media (max-width: 479px){
.tittle1 {
    font-size: 30px;
    margin-top: 1em;
}}
.container {
    max-width: 1422px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 479px){
.container {
    padding-left: 14px;
    padding-right: 14px;
}}
.print .container {
    overflow: auto;
}
@media (max-width: 960px){
.print .container {
    overflow: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: auto contain;
}}
.print .container .list {
    display: flex;
    justify-content: space-between;
    min-width: 1040px;
}
@media (max-width: 1060px){
.print .container .list {
    padding-left: 0;
    padding-bottom: 25px;
}}
@media (max-width: 479px){
.print .container .list {
    min-width: 650px;
    padding-top: 13px;
    padding-bottom: 17px;
}}
.print .container .list .item:nth-child(1) {
    padding-left: 77px;
}
.print .container .list .item {
    position: relative;
}
@media (max-width: 1060px){
.print .container .list .item {
    padding-left: 0 !important;
}}
.print .container .list .item span {
    text-transform: uppercase;
    color: #0b0b0b;
    font-size: 14px;
    font-weight: 700;
}
@media (max-width: 479px){
.print .container .list .item span {
    font-size: 11px;
}}
.print .container .list .item .icon {
    left: 0;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 1060px){
.print .container .list .item .icon {
    position: relative;
    margin-bottom: 15px;
    top: 0;
    height: 49px !important;
    transform: none;
    background-position: bottom;
}}
@media (max-width: 479px){
.print .container .list .item .icon {
    height: 36.75px !important;
    margin-bottom: 10px;
}}
.print .container .list .item:nth-child(1) .icon {
    width: 55px;
    height: 33px;
    background-image: url(../images/free-delivery.png);
}
@media (max-width: 479px){
.print .container .list .item:nth-child(1) .icon {
    width: 41.25px;
}}
.print .container .list .item p {
    color: #484848;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    margin-top: 9px;
}
@media (max-width: 479px){
.print .container .list .item p {
    font-size: 10px;
    margin-top: 0;
}}
.print .container .list .item:nth-child(2) {
    padding-left: 62px;
}
.print .container .list .item:nth-child(2) .icon {
    width: 42px;
    height: 41px;
    background-image: url(../images/discount-system.png);
}
@media (max-width: 479px){
.print .container .list .item:nth-child(2) .icon {
    width: 31.5px;
}}
.print .container .list .item:nth-child(3) {
    padding-left: 55px;
}

.print .container .list .item:nth-child(3) .icon {
    width: 44px;
    height: 45px;
    background-image: url(../images/express-delivery.png);
}
@media (max-width: 479px){
.print .container .list .item:nth-child(3) .icon {
    width: 29.04px;
}}
.print .container .list .item:nth-child(4) {
    padding-left: 56px;
}

.print .container .list .item:nth-child(4) .icon {
    width: 38px;
    height: 49px;
    background-image: url(../images/cert-print.png);
}
@media (max-width: 479px){
.print .container .list .item:nth-child(4) .icon {
    width: 25.08px;
}}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.product{
    padding-bottom: 0;
}
@media (max-width: 960px){
.product {
    padding-top: 10px;
}}
.product .tittle2 {
    margin-top: 15px;
    font-size: 32px;
    line-height: 0.8;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.7px;
}
@media (max-width: 960px){
.product .tittle2{
    font-size: 34px;
}}
@media (max-width: 479px){
.product .tittle2{
    font-size: 22px;
    margin-bottom: 15px;
}}
.product .flex {
    margin-top: 35px;
    padding-left: 23px;
    padding-right: 23px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
@media (max-width: 960px){
.product .flex {
    flex-direction:column;
    padding-left: 20px;
    padding-right: 20px;
    align-items:center;
}}
@media (max-width: 479px){
.product .flex {
    padding-left: 15px;
    padding-right: 15px;
}}
.product .flex .item {
    width: 32%;
    text-align: center;
    font-size: 17px;
    line-height: 1.42;
    color: #0b0b0b;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 25px;
}
@media (max-width: 1099px){
.product .flex .item {
    font-size: 14px;
}}
@media (max-width: 640px){
.product .flex .item {
    width: 100%;
    font-size: 22px;
}}

.product .flex .item:hover {
    outline-style: solid;
    outline-width: 4px;
    outline-offset: -4px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.18);
}

@media (max-width: 960px){
.product .flex .item {
    width: 80%;
}}
.product .flex .item:nth-child(1) {
    background-image: url(../images/bg_pattern_blue.jpg);
    background-repeat: no-repeat;
    
}
.product .flex .item:nth-child(1):hover {
    outline-color: #006dcc;
}
.product .flex .item img {
    vertical-align: top ;
    margin-bottom: 30px;
}
@media (max-width: 479px){
.product .flex .item img {
    margin-bottom: 22.5px;
    max-height: 105.75px;
}}

.product .flex .item .title {
    font-size: 28px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px;
}
@media (max-width: 479px){
.product .flex .item .title {
    font-size: 24px;
    margin-bottom: 8px;
}}
.product .flex .item:nth-child(2) {
    background-image: url(../images/bg_pattern_purple.jpg);
    background-repeat: no-repeat;

}
.product .flex .item:nth-child(2):hover {
    outline-color: #a600e7;
}
@media (max-width: 960px){
.product .flex .item:nth-child(2) {
    margin-top: 20px;
}}
.product .flex .item:nth-child(3) {
    background-image: url(../images/bg_pattern_pink.jpg);
    background-repeat: no-repeat;
    }
.product .flex .item:nth-child(3):hover {
        outline-color: #f51c8f;
    }
@media (max-width: 960px){
.product .flex .item:nth-child(3) {
    margin-top: 20px;
}}
@media (max-width: 479px){
.product .flex .item:nth-child(3) {
    margin-top: 15px;
}}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.features {
    padding-bottom: 90px;
    background-color: #fff;
    padding-top: 75px;
}
@media (max-width: 960px){
.features {
    padding-top: 60px;
}}
@media (max-width: 479px){
.features {
    padding-top: 41px;
    padding-bottom: 67.5px;
}}
.features .tittle2 {
    font-family: "MuseoSans",sans-serif;
    font-size: 34px;
    line-height: 1;
    font-weight: 900;
    color: #0b0b0b;
    text-align: center;
    margin: 0;
}
@media (max-width: 479px){
.features .tittle2 {
    font-size: 23px;
}}
@media (max-width: 960px){
.features .tittle2 {
    font-size: 34px;
}}

.features .list {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 960px){
.features .list {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}}
.features .list .item {
    position: relative;
    width: 20%;
    color: #212121;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 479px){
.features .list .item {
    margin-top: 40px;
}}
@media (max-width: 670px){
.features .list .item {
    width: 50%;
    padding: 0;
}}


.features .list .item:before {
    content: '';
    display: block;
    height: 75px;
    width: 85px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
@media (max-width: 960px){
    .features .list .item {
        width: 33%;
        padding: 20px;
    }}
@media (max-width: 479px){
    .features .list .item:before {
        height: 56.25px;
        width: 63.75px;
    }}
.features .list .item:nth-child(1):before {
        background-image: url(../images/print-product.png);
    }

.features .list .item .info {
    margin-top: 26px;
    text-align: center;
}
@media (max-width: 479px){
.features .list .item .info {
    margin-top: 18px;
}}
.features .list .item .info span {
    color: #eb490f;
    font-size: 30px;
    line-height: 1.33;
    font-weight: 900;
}
@media (max-width: 960px){
.features .list .item .info span {
    font-size: 35px;
}}
@media (max-width: 479px){
.features .list .item .info span {
    font-size: 23px;
}}

.features .list .item .info h4 {
    font-size: 16px;
    line-height: 1.68;
}
@media (max-width: 479px){
.features .list .item .info h4 {
    font-size: 12px;
}}

@media (max-width: 960px){
.features .list .item .info h4 {
    font-size: 18px;
}}
.features .list .item:nth-child(2):before {
    background-image: url(../images/card.png);
}
.features .list .item:nth-child(3):before {
    background-image: url(../images/discount-icon.png);
}
.features .list .item:nth-child(4):before {
    background-image: url(../images/print-method.png);
}
.features .list .item:nth-child(5):before {
    background-image: url(../images/partner.png);
}